/***** The place for standard PDQ modifications *****/

.important {
  h2,
  h3 {
    text-transform: uppercase;
  }
  background-color: #ffb85a; //Spay Tan from style guide
  * {
    margin-bottom: 0;
  }
  padding: 10px;
}

.warning {
  background-color: #ff4047;
  h2,
  h3 {
    text-transform: uppercase;
    color: white;
  }
  color: white;
  * {
    margin-bottom: 0;
  }
  padding: 10px;
}

.notes {
  background-color: #a0cb3a; //Envy from style guide
  h2,
  h3 {
    text-transform: uppercase;
  }
  * {
    margin-bottom: 0;
  }
  padding: 10px;
}

/* danger class for big red danger things */
.danger {
  h2,
  h3 {
    text-transform: uppercase;
  }
  color: yellow;
  background-color: #990000;
  padding: 10px;
  -webkit-animation: flash linear 0.25s infinite;
  animation: flash linear 0.25s infinite;
}

/* The animations are just temporary sillyness.*/
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  25% {
    color: blue;
  }
  50% {
    background-color: red;
  }
  75% {
    color: yellow;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  25% {
    color: blue;
  }
  50% {
    background-color: red;
  }
  75% {
    color: yellow;
  }
  100% {
    opacity: 1;
  }
}

/*Word wrap enabled for pre (code) blocks*/
pre {
  white-space: pre-wrap !important; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap !important; /* Opera 4-6 */
  white-space: -o-pre-wrap !important; /* Opera 7 */
  word-wrap: break-word !important; /* Internet Explorer 5.5+ */
}
