/***** Search field *****/
.search {
  position: relative;

  input[type="search"] {
    border: 1px solid $border-color;
    border-radius: 30px;
    box-sizing: border-box;
    color: $field-text-color;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;

    [dir="rtl"] & {
      padding-right: 40px;
      padding-left: 20px;
    }

    &:focus {
      border: 1px solid $brand_color;
      color: $field-text-focus-color;
    }
  }

  &::before {
    @extend .icon;
    @include vertical-align;
    background-color: #fff;
    color: #777;
    content: "\1F50D";
    font-size: 18px;
    position: absolute;
    left: 15px;

    [dir="rtl"] & {
      right: 15px;
      left: auto;
    }
  }

  &-full input[type="search"] {
    border: 1px solid #fff;
  }
}

.errorSearch {
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="submit"] {
    float: right;
    flex-grow: 1;
    margin-top: 5px;
  }
  input[type="search"] {
    flex-grow: 6;
    width: auto;
  }
  .search::before {
    top: 25%;
  }

  @include tablet {
    .search::before {
      top: 50%;
    }

    input[type="submit"] {
      margin-top: 0px;
    }

    input[type="search"] {
      margin-right: 5px;
    }
  }
}
